@charset "UTF-8" ;

body {
  width: 93.75%;
  max-width: 40rem;
  margin: 0 auto;
}

header,
footer {
  padding: .5rem 1rem;
}

.main {
  margin: 6rem 0;
}

section {
  margin-bottom: 3rem;
}

h2 {
  border-bottom: 3px solid currentColor;
  color: #339;
}

figure {
  margin: 0;
}

figcaption {
  font-size: smaller;
  text-align: right;
}

blockquote {
  margin: 0 0 1rem;
}