/*! display-wai-aria.css v0.2.3 | MIT License | github.com/masuP9/display-wai-aria.css */
/*
 common style
*/
[role]::after, [aria-busy]::after, [aria-checked]::after, [aria-current]::after, [aria-disabled]::after, [aria-expanded]::after, [aria-grabbed]::after, [aria-hidden]::after, [aria-invalid]::after, [aria-pressed]::after, [aria-selected]::after, [aria-activedescendant]::before, [aria-atomic]::before, [aria-autocomplete]::before, [aria-colcount]::before, [aria-colindex]::before, [aria-colspan]::before, [aria-controls]::before, [aria-describedat]::before, [aria-describedby]::before, [aria-details]::before, [aria-dropeffect]::before, [aria-errormessage]::before, [aria-flowto]::before, [aria-haspopup]::before, [aria-keyshortcuts]::before, [aria-label]::before, [aria-labelledby]::before, [aria-level]::before, [aria-live]::before, [aria-modal]::before, [aria-multiline]::before, [aria-multiselectable]::before, [aria-orientation]::before, [aria-owns]::before, [aria-placeholder]::before, [aria-posinset]::before, [aria-readonly]::before, [aria-relevant]::before, [aria-required]::before, [aria-roledescription]::before, [aria-rowcount]::before, [aria-rowindex]::before, [aria-rowspan]::before, [aria-setsize]::before, [aria-sort]::before, [aria-valuemax]::before, [aria-valuemin]::before, [aria-valuenow]::before, [aria-valuetext]::before {
  display: inline-block !important;
  margin-left: .25em !important;
  margin-right: .25em !important;
  padding: 0 .25em !important;
  border-style: solid !important;
  border-width: 2px !important;
  color: #333 !important;
  font: inherit !important;
  font-size: .875rem !important;
  font-weight: bold !important;
  line-height: 1.7 !important;
  vertical-align: super !important;
  white-space: nowrap !important;
}

/*
 role
*/
[role] {
  background-color: rgba(255, 255, 0, 0.25) !important;
  box-shadow: inset 0 0 0 1px #cccc00 !important;
}

[role]::after {
  content: "role: " attr(role);
  background-color: rgba(255, 255, 0, 0.25) !important;
  box-shadow: inset 0 0 0 1px #cccc00 !important;
}

/*
 state
*/
[aria-busy]::after {
  content: "aria-busy: " attr(aria-busy) !important;
}

[aria-checked]::after {
  content: "aria-checked: " attr(aria-checked) !important;
}

[aria-current]::after {
  content: "aria-current: " attr(aria-current) !important;
}

[aria-disabled]::after {
  content: "aria-disabled: " attr(aria-disabled) !important;
}

[aria-expanded]::after {
  content: "aria-expanded: " attr(aria-expanded) !important;
}

[aria-grabbed]::after {
  content: "aria-grabbed: " attr(aria-grabbed) !important;
}

[aria-hidden]::after {
  content: "aria-hidden: " attr(aria-hidden) !important;
}

[aria-invalid]::after {
  content: "aria-invalid: " attr(aria-invalid) !important;
}

[aria-pressed]::after {
  content: "aria-pressed: " attr(aria-pressed) !important;
}

[aria-selected]::after {
  content: "aria-selected: " attr(aria-selected) !important;
}

/* state-style */
[aria-busy], [aria-busy]::after, [aria-checked], [aria-checked]::after, [aria-current], [aria-current]::after, [aria-disabled], [aria-disabled]::after, [aria-expanded], [aria-expanded]::after, [aria-grabbed], [aria-grabbed]::after, [aria-hidden], [aria-hidden]::after, [aria-invalid], [aria-invalid]::after, [aria-pressed], [aria-pressed]::after, [aria-selected], [aria-selected]::after {
  background-color: rgba(255, 153, 255, 0.25) !important;
  box-shadow: inset 0 0 0 1px #ff66ff !important;
}

/*
 property
*/
[aria-activedescendant]::before {
  content: "aria-activedescendant: " attr(aria-activedescendant) !important;
}

[aria-atomic]::before {
  content: "aria-atomic: " attr(aria-atomic) !important;
}

[aria-autocomplete]::before {
  content: "aria-autocomplete: " attr(aria-autocomplete) !important;
}

[aria-colcount]::before {
  content: "aria-colcount: " attr(aria-colcount) !important;
}

[aria-colindex]::before {
  content: "aria-colindex: " attr(aria-colindex) !important;
}

[aria-colspan]::before {
  content: "aria-colspan: " attr(aria-colspan) !important;
}

[aria-controls]::before {
  content: "aria-controls: " attr(aria-controls) !important;
}

[aria-describedat]::before {
  content: "aria-describedat: " attr(aria-describedat) !important;
}

[aria-describedby]::before {
  content: "aria-describedby: " attr(aria-describedby) !important;
}

[aria-details]::before {
  content: "aria-details: " attr(aria-details) !important;
}

[aria-dropeffect]::before {
  content: "aria-dropeffect: " attr(aria-dropeffect) !important;
}

[aria-errormessage]::before {
  content: "aria-errormessage: " attr(aria-errormessage) !important;
}

[aria-flowto]::before {
  content: "aria-flowto: " attr(aria-flowto) !important;
}

[aria-haspopup]::before {
  content: "aria-haspopup: " attr(aria-haspopup) !important;
}

[aria-keyshortcuts]::before {
  content: "aria-keyshortcuts: " attr(aria-keyshortcuts) !important;
}

[aria-label]::before {
  content: "aria-label: " attr(aria-label) !important;
}

[aria-labelledby]::before {
  content: "aria-labelledby: " attr(aria-labelledby) !important;
}

[aria-level]::before {
  content: "aria-level: " attr(aria-level) !important;
}

[aria-live]::before {
  content: "aria-live: " attr(aria-live) !important;
}

[aria-modal]::before {
  content: "aria-modal: " attr(aria-modal) !important;
}

[aria-multiline]::before {
  content: "aria-multiline: " attr(aria-multiline) !important;
}

[aria-multiselectable]::before {
  content: "aria-multiselectable: " attr(aria-multiselectable) !important;
}

[aria-orientation]::before {
  content: "aria-orientation: " attr(aria-orientation) !important;
}

[aria-owns]::before {
  content: "aria-owns: " attr(aria-owns) !important;
}

[aria-placeholder]::before {
  content: "aria-placeholder: " attr(aria-placeholder) !important;
}

[aria-posinset]::before {
  content: "aria-posinset: " attr(aria-posinset) !important;
}

[aria-readonly]::before {
  content: "aria-readonly: " attr(aria-readonly) !important;
}

[aria-relevant]::before {
  content: "aria-relevant: " attr(aria-relevant) !important;
}

[aria-required]::before {
  content: "aria-required: " attr(aria-required) !important;
}

[aria-roledescription]::before {
  content: "aria-roledescription: " attr(aria-roledescription) !important;
}

[aria-rowcount]::before {
  content: "aria-rowcount: " attr(aria-rowcount) !important;
}

[aria-rowindex]::before {
  content: "aria-rowindex: " attr(aria-rowindex) !important;
}

[aria-rowspan]::before {
  content: "aria-rowspan: " attr(aria-rowspan) !important;
}

[aria-setsize]::before {
  content: "aria-setsize: " attr(aria-setsize) !important;
}

[aria-sort]::before {
  content: "aria-sort: " attr(aria-sort) !important;
}

[aria-valuemax]::before {
  content: "aria-valuemax: " attr(aria-valuemax) !important;
}

[aria-valuemin]::before {
  content: "aria-valuemin: " attr(aria-valuemin) !important;
}

[aria-valuenow]::before {
  content: "aria-valuenow: " attr(aria-valuenow) !important;
}

[aria-valuetext]::before {
  content: "aria-valuetext: " attr(aria-valuetext) !important;
}

/* property-style */
[aria-activedescendant], [aria-activedescendant]::before, [aria-atomic], [aria-atomic]::before, [aria-autocomplete], [aria-autocomplete]::before, [aria-colcount], [aria-colcount]::before, [aria-colindex], [aria-colindex]::before, [aria-colspan], [aria-colspan]::before, [aria-controls], [aria-controls]::before, [aria-describedat], [aria-describedat]::before, [aria-describedby], [aria-describedby]::before, [aria-details], [aria-details]::before, [aria-dropeffect], [aria-dropeffect]::before, [aria-errormessage], [aria-errormessage]::before, [aria-flowto], [aria-flowto]::before, [aria-haspopup], [aria-haspopup]::before, [aria-keyshortcuts], [aria-keyshortcuts]::before, [aria-label], [aria-label]::before, [aria-labelledby], [aria-labelledby]::before, [aria-level], [aria-level]::before, [aria-live], [aria-live]::before, [aria-modal], [aria-modal]::before, [aria-multiline], [aria-multiline]::before, [aria-multiselectable], [aria-multiselectable]::before, [aria-orientation], [aria-orientation]::before, [aria-owns], [aria-owns]::before, [aria-placeholder], [aria-placeholder]::before, [aria-posinset], [aria-posinset]::before, [aria-readonly], [aria-readonly]::before, [aria-relevant], [aria-relevant]::before, [aria-required], [aria-required]::before, [aria-roledescription], [aria-roledescription]::before, [aria-rowcount], [aria-rowcount]::before, [aria-rowindex], [aria-rowindex]::before, [aria-rowspan], [aria-rowspan]::before, [aria-setsize], [aria-setsize]::before, [aria-sort], [aria-sort]::before, [aria-valuemax], [aria-valuemax]::before, [aria-valuemin], [aria-valuemin]::before, [aria-valuenow], [aria-valuenow]::before, [aria-valuetext], [aria-valuetext]::before {
  background-color: rgba(153, 255, 255, 0.25) !important;
  box-shadow: inset 0 0 0 1px #66ffff !important;
}

/* false-style */
[aria-busy="false"]::after, [aria-checked="false"]::after, [aria-current="false"]::after, [aria-disabled="false"]::after, [aria-expanded="false"]::after, [aria-grabbed="false"]::after, [aria-hidden="false"]::after, [aria-invalid="false"]::after, [aria-pressed="false"]::after, [aria-selected="false"]::after, [aria-activedescendant="false"]::after, [aria-atomic="false"]::after, [aria-autocomplete="false"]::after, [aria-colcount="false"]::after, [aria-colindex="false"]::after, [aria-colspan="false"]::after, [aria-controls="false"]::after, [aria-describedat="false"]::after, [aria-describedby="false"]::after, [aria-details="false"]::after, [aria-dropeffect="false"]::after, [aria-errormessage="false"]::after, [aria-flowto="false"]::after, [aria-haspopup="false"]::after, [aria-keyshortcuts="false"]::after, [aria-label="false"]::after, [aria-labelledby="false"]::after, [aria-level="false"]::after, [aria-live="false"]::after, [aria-modal="false"]::after, [aria-multiline="false"]::after, [aria-multiselectable="false"]::after, [aria-orientation="false"]::after, [aria-owns="false"]::after, [aria-placeholder="false"]::after, [aria-posinset="false"]::after, [aria-readonly="false"]::after, [aria-relevant="false"]::after, [aria-required="false"]::after, [aria-roledescription="false"]::after, [aria-rowcount="false"]::after, [aria-rowindex="false"]::after, [aria-rowspan="false"]::after, [aria-setsize="false"]::after, [aria-sort="false"]::after, [aria-valuemax="false"]::after, [aria-valuemin="false"]::after, [aria-valuenow="false"]::after, [aria-valuetext="false"]::after {
  border-style: dotted !important;
  color: #666 !important;
}

/*# sourceMappingURL=display-wai-aria.css.map */
